Django==3.0.4
django-admin==2.0.0
django-freeze==0.6.4
django-extensions==3.0.5
django-octicons==1.0.2
django-pandas==0.6.2
django-directory==0.0.3
pandas==1.1.0
numpy==1.19.1
kaleido==0.0.3.post1
nbformat==5.0.7
plotly==4.9.0
requests==2.24.0
