{% extends "base.html" %}
{% block content %}
{% load static %}
<p>&nbsp;</p>

{% if directory_name == '/' %}
<h3>datastore/</h3>
  {% else %}
<h3>datastore/{{ directory_name }}</h3>
  {% endif %}
<ul>
{% for basename, link_target in directory_directories %}
  {% if link_target %}
    <li><a href="{% url 'directory_browse' link_target %}/">{{ basename }}/</a></li>
  {% else %}
    <li>{{ basename }}/</li>
  {% endif %}
{% endfor %}
{% for basename, link_target in directory_files %}
  {% if link_target %}
    <li><a href="{% url 'directory_browse' link_target %}">{{ basename }}</a></li>
  {% else %}
    <li>{{ basename }}</li>
  {% endif %}
{% endfor %}
</ul>
{% endblock %}
