{% extends "base.html" %}
{% load octicons %}
{% block content %}
{% load static %}
<p>&nbsp;</p>

<h2>{{ directory_name }}</h2>
<ul>
{% for basename, link_target in directory_directories %}
  {% if link_target %}
    <li><a href="{% url 'directory_browse' link_target %}/">{{ basename }}/</a></li>
  {% else %}
    <li>{{ basename }}/</li>
  {% endif %}
{% endfor %}
{% for basename, link_target in directory_files %}
  {% if link_target %}
    <li><a href="{% url 'directory_browse' link_target %}">{{ basename }}</a></li>
  {% else %}
    <li>{{ basename }}</li>
  {% endif %}
{% endfor %}
</ul>
{% endblock %}
