{% extends "base.html" %}
{% load octicons %}
{% block content %}
{% load static %}
<p>&nbsp;</p>

<h2> Keyset </h2>
<h4> </h4>

  {% if keyset %}
  <table class="table table-striped table-sm">
          <thead>
            <tr>
                    <td><b></b></td>
                    <td><b></b></td>
            </tr>
          </thead>
          <tbody>
      <tr>
          <td><b>key</b></td><td>{{keyset.key}}</td>
      </tr><tr>
          <td><b>num teks</b></td><td>{{keyset.num_teks}}</td>
      </tr><tr>
          <td><b>timewindow</b></td><td>{{keyset.start_timestamp}} - {{keyset.end_timestamp}}</td>
      </tr>
  </tbody>
  </table>
    <h3>Stats</h3>

  {% else %}
   <p>There are no keysets in the database.</p>
  {% endif %}


{% endblock %}
