{% extends "base.html" %}
{% load octicons %}
{% block content %}
{% load static %}
<p>&nbsp;</p>

<h2> Statistieken </h2>
<h4>  </h4>
{% if stats %}


<div class="row">
    <div class="col-sm-4">
        <div class="card border-dark mb-3" style="width: 22rem;">
        <div class="card-header"> Keysets </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Totaal aantal keysets: {{ stats.keysets_total }}</li>
                <li class="list-group-item">begin - eind</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <p class="card-text"> </p>
        </div> <!-- card-body -->
        <div class="card-footer">
            <small class="text-muted">Last updated {{ stats.created}} </small>
        </div> <!-- footer -->
      </div> <!-- card -->
    </div> <!-- col -->
    <div class="col-sm-4">
       <img src="{% static "keyset_freq_date.svg" %}" alt="keyset_freq_date" width="800" height="400">
    </div> <!-- col -->

</div> <!-- row -->


{% endif %}
{% endblock %}
