{% load static %}
<!--Navbar-->
<nav class="navbar navbar-expand-sm bg-white">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="{% url 'index' %}">Home</a>
  <a class="navbar-brand" href="{% url 'key_index' %}">Keys</a>
  <a class="navbar-brand" href="{% url 'stat_index' %}">Statistieken</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="basicNav">
    <ul class="navbar-nav mr-auto">
	    <!--
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span> </a>
      </li>
	    -->

    </ul>

    </div>
  </nav>
  <!--/.Navbar-->
